<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<div class="contributors">
  <h1>Contributor list</h1>
  <div>
    <!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT--><a href="https://github.com/theriturajps" title="Little brother tunes">
  <img src="https://avatars.githubusercontent.com/u/1680273?v=4" width="42;" alt="Little brother tunes"/>
</a>
<a href="https://github.com/theriturajps" title="theriturajps">
  <img src="https://avatars.githubusercontent.com/u/49544524?v=4" width="42;" alt="theriturajps"/>
</a><!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT-END-->
  </div>
  <p>
    Data comes from <a href="https://github.com/theriturajps/Linux-Command/graphs/contributors">GitHub Contributors</a>，use<a href="https://github.com/theriturajps/github-action-contributors">action-contributors</a> create.
  </p>
</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>
