<div class="footer <%if(type=='home'){%> home <%}%>">
  <a target="_blank" href="https://github.com/theriturajps/Linux-Command/new/main/command">Publish Yours</a> |
  <a href="<%=relative_path%>hot.html">Search Directory</a>
  <br />
  <a href="/" target="_blank">Refresh</a>
  <br />
  Please use <b>Ctrl+D</b> or <b>Command+d</b> to bookmark this site
  <br /> Collected in total
  <span id="commands_info">
    <%=describe.command_length?describe.command_length:''%>
  </span> Search.<br>Become <b><a href="<%=relative_path%>contributors.html">Contributor</a></b>
</div>